<body>
	<div class="login-form">
	  <section>
		<h1>Sign up</h1>
		<div class="content">
			<div class="input-field">
				<input type="text" [(ngModel)]="admin.name" name = "name" placeholder="Username">
			</div>
			<div class="input-field">
				<input type="email" [(ngModel)]="admin.email" email = "email" placeholder="Email">
		  	</div>
		  	<div class="input-field">
				<input type="password" [(ngModel)]="admin.password" password = "password" placeholder="Password">
			</div>
		</div>

		<div class="action">
		  <button (click)="onSubmit()">Register</button>
		</div>
	  </section>
	</div>
	
	</body>
	